$background-color = #ddd
$material-background-color = #ffffff
$text-color = #1f1f21
$sub-text-color = #999
$highlight-color = rgba(24,103,194,0.81)
$second-highlight-color = #25a6d9
$border-color = #ccc
$toolbar-background-color = #fff
$toolbar-button-color = rgba(38,100,171,0.81)
$toolbar-text-color = #1f1f21
$toolbar-border-color = #bbb
$buttonbar-color = rgba(18,114,224,0.77)
$buttonbar-active-text-color = #fff
$list-background-color = #fff
$list-header-background-color = #eee
$list-tap-active-background-color = #d9d9d9
$tabbar-background-color = #fff
$tabbar-text-color = #999
$tabbar-highlight-text-color = rgba(24,103,194,0.81)
$tabbar-border-color = #ccc
$switch-highlight-color = #5198db
$modal-background-color = rgba(0, 0, 0, 0.7)
$modal-text-color = #fff
$alert-dialog-background-color = #f4f4f4
$alert-dialog-text-color = #1f1f21
$alert-dialog-button-color = rgba(24,103,194,0.81)
$alert-dialog-separator-color = #ddd
$dialog-background-color = #f4f4f4
$popover-background-color = white
$popover-text-color = #1f1f21
$notification-background-color = #dc5236
$material-switch-active-thumb-color = #009688
$fab-text-color = #ffffff
$fab-background-color = #009688

.logoImage
  height: 40px
  margin-top: 8px
  width: 171px

ons-carousel
  overflow: visible !important
  padding-top: 0 !important
  height: 110px !important
  margin-left: 33%
  width: 80px !important
ons-carousel > ons-carousel-item > p
  text-align: center
  margin-top: 5px
  width: 80%
.activeCarousel img
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75)
  width: 85%
.activeCarousel p
  font-weight: 600
  width: 85%
.passiveCarousel img
  box-shadow: 0 rgba(0,0,0,0)
  width: 80%

ons-splitter-side
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)


.Results
  margin-top: 150px !important

.CrossSectionPaper
  width: 100%
  height: 141px
  position: fixed
  z-index: 1
  overflow hidden
  border-bottom: 9px solid #f3f3f3


.CrossSectionPaper > .list-item
  min-height: 20px
  text-align center

.DisabledSwitch
  background-color: rgba(61, 63, 59, 0.1)
  color: rgba(61, 63, 59, 0.6)

.page--material__background
  background-color: #F3F3F3

.list
  width: 100%

.list-header
  font-weight bold
  color: $highlight-color

.InputError
  border-bottom: 3px solid red
  transition: 0.2s ease-in-out

.select-input.disabled
  display none

.select-input
  width: 95%
  height: 155%
  min-width 200px
  max-width 95%
  white-space pre-line
  color black
  font-size 16px

.select-input.results
  width: initial
  min-width initial
  height: initial
  white-space pre-line
  color black
  font-size 17px

.list-item
  min-height 65px
.wide
  min-height 75px

.list-item--material__left, .list-item__left
  min-width 100px
  width: 100px
  max-width 100px

.list-item--material__right, .list-item__right
  text-align center
  max-width: 140px
  min-width: 60px

.list-item--material__right.reductionFactorInput, .list-item__right.reductionFactorInput
  display: block

 .separateHr
  width: 70%
  border: 0;
  height: 3px;
  background: #333;
  background-image: linear-gradient(to right, #f3f3f3, black, #f3f3f3);

.text-input
  width: 80%
  font-size: 17px
.text-input.error
  color: red
.LoadingPage
.LoadingPage h1
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;

.AboutPage
.AboutPage h1
  left: 0;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
.AboutPage img
  width 60%
.AboutPage a
  color black
  padding-top: 5px
.button-bar__button
  width: 50px

.hiddenMessage
  display none

.errorMessage
  color: red
  font-size 12  px

.list-item__center.resInputdiv
  direction: rtl
.resInput
  text-align: right
  border: none
  background-color: white
  border-bottom: 2px solid #f3f3f3
  border-left: 2px solid #f3f3f3
  font-size: 16px

.hiddenNeutral 
  visibility hidden


  